/*#region General*/
.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.center {
    display: block;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 34px;
}

.btn-clear {
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
}
/*#endregion*/
/*#region Navigation*/
.navbar{
    background-color:transparent;
    display:flex;
    flex-flow:row nowrap;
    justify-content:flex-end;
}

.navbar-header > a {
    color: #555;
    text-shadow: 2px 2px 6px dimgray;
}

    .navbar-header > a:hover {
        color: black;
        text-shadow: 2px 2px 6px dimgray;
    }

.navlink {
    font-size: 36px;
    margin: 15px 50px 0 0;
    color: black;
    font-weight: bold;
}

.navlink.inactive {
    color: #555;
    font-weight:normal;
}

    .navlink.inactive:hover {
        color: black;
        text-shadow: 2px 2px 6px dimgray;
        background-color: transparent;
    }
/*#endregion*/
/*#region Call To Action*/
.textlink {
    /*color:#222;*/
    color: #ffffbb;
    text-shadow: 1px 1px 8px #ff3300;
    display: block;
    margin: 2vh;
}

    .textlink:hover {
        text-decoration: none;
        color: #f81;
        text-shadow: 0 0 1px black;
    }

.textlink-main {
    font-size: 32px;
}

.textlink-sub {
    font-size: 18px;
}
/*#endregion*/
/*#region Shared*/
.content {
    display: inline-block;
    margin-top: 80px;
    padding-left:5%;
    width: 100%;
    height: calc(100vh - 121px);
}

.content-wide{
    display: inline-block;
    margin-top:80px;
    width:100%;
    height:calc(100vh - 121px);
}

.marquis {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 30px 0 30px;
    background: radial-gradient(rgba(150,150,150,0.4), rgba(150,150,150,0.4), rgba(150,135,145,1));
}

.marquis-wide {
    background: radial-gradient(rgba(150,150,150,0.4), rgba(150,135,145,1));
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
    align-items:center;
}

.marquis-text {
    color: #220044;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.2);
    /*color: #ffffbb;
    text-shadow: 1px 1px 8px #ff3300;
    text-align: center;*/
}

h1.marquis-text {
    font-size: 2vw;
}

h2.marquis-text {
    font-size: 1.5vw;
}

h3.marquis-text {
    font-size: 24px;
}

.marquis-pic > img {
    border-radius: 1vh;
    height: 30vh;
    display: block;
    margin: 4vh auto;
}

.marquis-pic-sm > img {
    border-radius: 5px;
    height: 100px;
    display: block;
    margin: 20px auto;
}

.certifications{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
    margin-top:5vh;
}

.certifications>img{
    height:10vh;
}
/*#endregion*/
/*#region Index(Home)*/
.indexBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('Images/kitadake.jpg');
    background-repeat: no-repeat;
    background-position-y: -125px;
    background-size:cover;
}

.execsumm {
    margin-top:10vh;
}

.execsumm > li {
    margin-top: 3vh;
    font-size: 28px;
    color: #425;
    text-shadow: 1px 1px 2px #ff7744;
}
/*#endregion*/
/*#region About*/
.aboutBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('Images/kitadake.jpg');
    background-repeat: no-repeat;
    background-position-y: -125px;
    background-size: cover;
}

.scrollableAbout {
    height: calc(100% - 80px);
    overflow-y: auto;
}

.aboutme {
    margin-top: 20px;
}

    .aboutme p {
        border-left: 4px solid #90a0b8;
        font-size: 16px;
        padding-left: 5px;
    }

        .aboutme p::first-letter {
            font-size: 180%;
            color: #334477;
            margin-left: 1px;
            margin-right: 1px;
            font-family:'Times New Roman', Times, serif;
        }

.depictme > img {
    display: block;
    margin: 1vh auto;
    height: 18vh;
}
/*#endregion*/
/*#region Contact*/
.contactBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('Images/kitadake.jpg');
    background-repeat: no-repeat;
    background-position-y: -125px;
    background-size: cover;
}

.contactlinks {
     margin-top:4%;
}

.contactlink {
    color: #ffffbb;
    text-shadow: 1px 1px 8px #ff3300;
    display: block;
    margin: 15px auto;
}

    .contactlink:hover {
        text-decoration: none;
        color: #f81;
        text-shadow: 0 0 2px black;
    }

.contactlink-main {
    font-size: 36px;
}

.contactlink-sub {
    font-size: 18px;
}
/*#endregion*/
/*#region Portfolio*/
.portfolioBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('Images/kitadake.jpg');
    background-repeat: no-repeat;
    background-position-y: -125px;
    background-size: cover;
}

.portfolio-grid{
    display:grid;
}

.portfolio-item {
    display:block;
}

    .portfolio > a > img {
        height: 200px;
    }

    .portfolio-thumb{
        height:200px;
    }
/*#endregion*/
/*#region Pearls*/
.tutorialLeft {
    background: peachpuff;
}

.tutorialBackground {
    background: linear-gradient(rgb(210, 190, 200), rgb(255, 220, 150));
}

.eclipsetext {
    color: #220044;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.2);
    text-align: center;
    font-weight: bold;
}

.scrollablePearl {
    height: calc(100% - 108px);
    overflow-y: auto;
}

.tutorialContent h1 {
    margin-left: 25px;
    font-size: 24px;
}

.tutorialContent h2 {
    margin-left: 50px;
    font-size: 20px;
}

.tutorialContent h3 {
    margin-left: 75px;
    font-size: 18px;
}

.tutorialContent h4 {
    margin-left: 100px;
    font-size: 16px;
}

.tutorialContent h5 {
    margin-left: 125px;
    font-size: 16px;
    font-style: italic;
}

.asideContent{
    margin:5px;
}

.tutorialContent h6 {
    margin-left: 150px;
    font-size: 12px;
}

code{
    background:none;
}

code>pre{
    display:inline-block;
    background: rgba(240,240,240,0.5);
    min-width:600px;
    margin-left:75px;
    color:firebrick;
}

.inlineCode {
    min-width: 0;
    margin-left: 0;
    background: rgba(240,240,240,0.5);
}

code b{
    color:crimson;
    font-weight:bold;
}
/*#endregion*/

