/*#region General*/
.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.center {
    display: block;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 34px;
}

.btn-clear {
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
}
/*#endregion*/
/*#region Navigation*/
.navbar{
    background-color:transparent;
    display:flex;
    flex-flow:row nowrap;
    justify-content:flex-end;
}

.navbar-header > a {
    color: #555;
    text-shadow: 2px 2px 6px dimgray;
}

    .navbar-header > a:hover {
        color: black;
        text-shadow: 2px 2px 6px dimgray;
    }

.navlink {
    font-size: 36px;
    margin: 15px 50px 0 0;
}

.navlink.inactive {
    color: #555;
}

    .navlink.inactive:hover {
        color: black;
        text-shadow: 2px 2px 6px dimgray;
        background-color: transparent;
    }

.navlink.active {
    color: black;
    font-weight:bold;
}
/*#endregion*/
/*#region Call To Action*/
.textlink {
    /*color:#222;*/
    color: #ffffbb;
    text-shadow: 1px 1px 8px #ff3300;
    display: block;
    margin: 40px auto;
}

    .textlink:hover {
        text-decoration: none;
        color: #f81;
        text-shadow: 0 0 1px black;
    }

.textlink-main {
    font-size: 36px;
}

.textlink-sub {
    font-size: 18px;
}
/*#endregion*/
/*#region Shared*/
.content {
    margin-top: 80px;
}

.marquistext {
    color: #ffffbb;
    text-shadow: 1px 1px 8px #ff3300;
    text-align: center;
}

.marquistext-main{
    font-size:40px;
}

.marquistext-sub {
    font-size: 30px;
}

.marquispicture > img {
    border-radius: 5px;
    height: 280px;
    display: block;
    margin: 30px auto;
}

.certifications > img {
    margin-right: 50px;
}
/*#endregion*/
/*#region Index(Home)*/
.indexBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('Images/kitadake.jpg');
    background-repeat: no-repeat;
    background-position-y: -125px;
    background-size:cover;
}

.execsumm {
    margin: 150px 0 0 0;
    list-style:none;
}

.execsumm > li {
    margin-top:50px;
    font-size: 28px;
    color:#425;
    text-shadow: 1px 1px 2px #ff7744;
}

.execsumm > li::first-letter {
    font-size: 32px;
}
/*#endregion*/
/*#region About*/
.aboutBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('Images/kitadake.jpg');
    background-repeat: no-repeat;
    background-position-y: -125px;
    background-size: cover;
}

.aboutme {
    margin: 50px 0 0 5px;
}

blockquote {
    font-size: 20px;
}

    blockquote p::first-letter {
        font-size: 180%;
        font-weight: normal;
        font-style: italic;
        margin-left: 1px;
        margin-right: 1px;
    }

.depictme {
    margin-top: 30px;
}

    .depictme > img {
        height: 180px;
    }
/*#endregion*/
/*#region Contact*/
.contactBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('Images/kitadake.jpg');
    background-repeat: no-repeat;
    background-position-y: -125px;
    background-size: cover;
}

.contactlinks {
     margin-top:4%;
}

.contactlink {
    color: #ffffbb;
    text-shadow: 1px 1px 8px #ff3300;
    display: block;
    margin: 15px auto;
}

    .contactlink:hover {
        text-decoration: none;
        color: #f81;
        text-shadow: 0 0 2px black;
    }

.contactlink-main {
    font-size: 36px;
}

.contactlink-sub {
    font-size: 18px;
}
/*#endregion*/
/*#region Portfolio*/
.portfolioBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('Images/kitadake.jpg');
    background-repeat: no-repeat;
    background-position-y: -125px;
    background-size: cover;
}

.portfolio {
    margin-top: 50px;
}

    .portfolio > a > img {
        height: 200px;
    }
/*#endregion*/
